{% extends 'base.html.twig' %}

{% block title %}Hello AnnouceController!{% endblock %}

{% block body %}

<div class="container my-5">
    

    <div class="row">{# card bigin #}
        
      
       {% for announce in announces %} 
      
      <div class="col-md-4">
        
          <div class="card mb-3">
          
            <h4 class="card-header">{{announce.rooms}} {{announce.title}} à {{announce.price}} F / mois</h4>
            <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
              <rect width="100%" height="100%" fill="#868e96"></rect>
              <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
              {{announce.coverImage}}
            </svg>
            <div class="card-body">
              <p class="card-text">{{ announce.description }}</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link btn btn-primary">Détails...</a>
            </div>
            <div class="card-footer text-muted text-center" >
              {{announce.createdAt|date("m/d/Y")}}
              <i class="fas fa-map-marker-alt"></i>
               <strong>{{ announce.address }}</strong>
            </div>
          
          </div>
    </div>
    {% endfor %}
      
{# card end #}
    </div>
    
    
</div>

{% endblock %}
