{% extends 'base.html.twig' %}

{% block title %}Hello CreateAnnounce !{% endblock %}

{% block body %}

    <h1>Modifier une Annonce</h1>


    
    <div class="container my-5">{#begin of div container#}
            {{form_start(form)}}

        <div class="form-group">

            {{form_row(form.title)}}

        </div>
        <div class="form-group">

            {{form_row(form.description)}}

        </div>
        <div class="form-group">

            {{form_row(form.price)}}

        </div>
        <div class="form-group">

            {{form_row(form.address)}}

        </div>
        <div class="form-group">

            {{form_row(form.coverImage)}}

        </div>
        <div class="form-group">

            {{form_row(form.rooms)}}

        </div>
        <div class="form-group">

            {{form_row(form.isAvailable)}}

        </div>

        <div class="form-group">

            {{form_row(form.createdAt)}}

        </div>
        <div class="form-group">

            {{form_row(form.introduction)}}

        </div>


        
        {#<input type="submit" value="Valider">#}
        <div class="d-flex justify-content-center my-5">
            <button type="submit" class="btn btn-primary">Modifier Une annonce</button>
        </div>
        {{form_end(form)}}
        
    </div>{#end of div container#}

    


    
{% endblock %}
