<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}{% endblock %}
		</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		{% block stylesheets %}
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.3.2/dist/css/axentix.min.css">
		{% endblock %}
	</head>

	<body class="layout with-sidenav fixed-sidenav">
		<header>
			<nav class="navbar shadow-1 primary">
				<a href="#" target="_blank" class="navbar-brand"><img src="{{asset('images/logo.jpeg')}}" alt="logo" width="60x" height="30px" srcset=""></a>
				
				<div class="navbar-menu mr-auto">
					<a class="navbar-link" href="{{ path('app_home')}}">Kay Deuk</a>
					<a class="navbar-link" href="{{ path('app_annouce_index')}}">Annonces</a>
					<a class="navbar-link" href="{{path('app_contact')}}">Contact</a>
					{% if app.user %}
						{% if is_granted('ROLE_ADMIN') %}
							<a class="navbar-link" href="{{path('app_admin')}}">Gestion Administration</a>
						{% endif %}


						<a class="navbar-link" href="{{path('app_login')}}">Publier Une Annonce</a>
						<a class="navbar-link" href="{{path('app_logout')}}">Deconnexion</a>
					{% else %}
					</div>
					<div class="navbar-menu ml-auto">
						<a class="navbar-link" href="{{path('app_register')}}">Inscription</a>
						<a class="navbar-link" href="{{path('app_login')}}">Connexion</a>
					</div>
					{% endif %}
				</nav>
			</header>

			<div id="example-sidenav" data-ax="sidenav" class="sidenav shadow-1 large fixed white">
				<div class="sidenav-header">
					<button data-target="example-sidenav" class="sidenav-trigger">
						<i class="fas fa-times"></i>
					</button>
					<img class="sidenav-logo dropshadow-1" src="{{asset('images/user.jpeg')}}" width="100x" height="70px" alt="Logo"/>
				</div>
				<a href="#" class="sidenav-link active">Mon Profile</a>
				<a href="#" class="sidenav-link">Mes Annonces</a>
			</div>

			<main>
				<!-- Code here the main content -->
				<button data-target="example-sidenav" class="btn rounded-1 press amaranth dark-1 sidenav-trigger hide-md-up">
					Open sidenav
				</button>
				{% block body %}{% endblock %}
			</main>

			<footer class="primary footer fx-center">
				<center>
					<p>Copyright &copy simplon.co !!</p>
				</center>
			</footer>

			{% block javascripts %}
				<script>
					var sidenav = new Sidenav('#example-sidenav');
				</script>

				<script src="https://cdn.jsdelivr.net/npm/axentix@1.3.2/dist/js/axentix.min.js"></script>
			{% endblock %}
		</body>
	</body>
</html>
