{% extends 'user.html.twig' %}

{% block title %}Modification du profil de 
			{{app.user.firstname}}
			{{ app.user.firstname }}
{% endblock %}

{% block body %}
	<div class="grix xs4 container">
		<div class="col-xs4 display-4">Modification du profil de 
			{{app.user.firstname}}
			{{ app.user.firstname }}

			{{ form(form) }}
		</div>

	</div>
	
{% endblock %}
